.sider
    .sider__logo
        img(src="/images/logo.jpg" alt="Logo")
    .sider__menu
        ul
            li
                a(href=`${prefixAdmin}/dashboard`) Home
            li
                a(href=`${prefixAdmin}/product`) Product
            li
                a(href="/admin/posts") Posts
            li
                a(href="/admin/categories") Categories
            li
                a(href="/admin/users") Users
            li
                a(href="/admin/settings") Settings
    .sider__footer
        p © 2024 MyProject
