mixin search(search)
    form.form-inline.mb-2
        label.font-weight-bold.mr-2(for="search") Tìm kiếm:
        input.form-control(type="text" name="search" textSearch= search value= search style="max-width: 250px; width: 100%;")
        button.btn.btn-primary.ml-2.btnSearch Tìm kiếm